  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;  
    background-image: linear-gradient(to right, #0b0b0b, #0040ff);
    background-image: -o-linear-gradient(right, #0f0f10, #0040ff);
    background-image: -moz-linear-gradient(right, #0c0c0c, #1f40a3);
    background-image: -webkit-linear-gradient(left, #131314, #1639a0);
    background-blend-mode: multiply;
 }


body{
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
  }
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #040404;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: white;
    background-image: linear-gradient(to right, #0b0b0b, #0040ff);
    background-image: -o-linear-gradient(right, #0f0f10, #0040ff);
    background-image: -moz-linear-gradient(right, #0c0c0c, #1f40a3);
    background-image: -webkit-linear-gradient(left, #131314, #1639a0);
    background-blend-mode: multiply;
  }
  

  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #141414;
    background: #080808;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login{
    /* margin-left: 50px; */
  }